{% extends 'base.html.twig' %}

{% block title %}Project list{% endblock %}

{% block body %}
    <h1 class="text-center p-3">Projets</h1>
    <div class="container">
        <button class="btn btn-secondary mb-3"><a href="{{ path('add_project') }}">Ajouter un projet</a></button>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Nom du projet</th>
                <th scope="col">Statut</th>
                <th scope="col">Tâches</th>
                <th scope="col">Ajouté le</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr class="table-secondary"> 
                <th scope="row">{{project.name}}</th>
                <td>{{project.statut}}</td>
                <td>nb tâches</td>
                <td>{{project.startedAt|date('d/m/Y')}}</td>
                <td><a href="#">Gérer</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
